html, body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

header {
    padding: 5% 0;
    font-family: 'Raleway', sans-serif;
    color: #ffffff !important;
}

header > h1 {
    width: 100%;
    font-size: 5rem;
    text-align: center;
    background: transparent !important;
}

#header-bug {
    background: linear-gradient(135deg, #e74c3c, #e67e22);
}

.wrapper {
    padding: 30px 0;
    margin: 0 auto;
}

#content {
    width: 960px;
}

article {
    width: 650px;
    float: left;
    text-align: justify;
}

aside {
    font-size: 1.2rem;
    width: 270px;
    float: right;
}

section {
    font-size: 1.2rem;
    margin: 24px;
}

section > div {
    margin: 0;
    padding: 0;
}

section h1 {
    margin: 0;
}

.devcard {
    font-size: 0.8rem;
    width: calc(100% - 1.2rem);
    border-radius: 1.2rem;
    padding: 0 0.6rem 0.6rem;
    margin: 0.6rem 0;
    overflow: hidden;
    color: #ffffff;
}

.devcard a, .devcard a:visited {
    color: #ffffff;
}

.devcard > .dc-header {
    width: calc(100% - 1.2rem);
    height: 1.2rem;
    font-size: 1rem;
    padding: 0 1.2rem;
    position: relative;
    left: -0.6rem;
    text-transform: uppercase;
}

.devcard > .dc-header > img {
    position: relative;
    top: 0.125rem;
    width: 1rem;
    height: 1rem;
}

.devcard > .dc-header > a {
    position: relative;
    top: -0.06125rem;
}